import datetime

${var_name}["${d}"] = ${var_name}["${d}"].apply(lambda old_date, old_format, new_format: datetime.datetime.strptime(old_date, old_format).strftime(new_format), args=("${old_format}", "${new_format}"))