#if (${algo} == "RandomForestRegressor")
from sklearn.ensemble import RandomForestRegressor
#else
from sklearn.tree import DecisionTreeRegressor
#end

${MODEL}_${model_name}=${algo}(random_state=1)
${MODEL}_${model_name}.fit(${split}_${TRAIN}_${X}, ${split}_${TRAIN}_${Y})