from sklearn.model_selection import train_test_split
X=${new_name}[${feat_x}]
y=${new_name}.${pred_y}
${split_name}_${TRAIN}_${X}, ${split_name}_${TEST}_${X}, ${split_name}_${TRAIN}_${Y}, ${split_name}_${TEST}_${Y} = train_test_split(X, y,random_state = 0, train_size=${split})